<a href="https://colab.research.google.com/github/Mathurshab2210/Ml_with_Mathur/blob/main/Regularization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
hp=pd.read_csv('/content/dev.csv')

In [4]:
hp.nunique()

id             1000
price           572
bedrooms         10
bathrooms        19
sqft_living     339
sqft_lot        806
waterfront        2
condition         5
grade            10
yr_built        111
zipcode          69
dtype: int64

In [5]:
hp.shape

(1000, 11)

In [7]:
hp=hp.drop('id',axis=1)

In [8]:
hp.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,waterfront,condition,grade,yr_built,zipcode
0,1146800,4,3.50,4210,10308,0,3,10,2006,98008
1,950000,3,1.75,2150,4200,0,5,8,1960,98116
2,850000,4,2.00,3380,90968,0,4,9,1979,98075
3,599000,4,2.50,2790,230868,0,3,8,1989,98077
4,255000,2,1.00,960,28717,0,4,6,1984,98070

In [9]:
hp.isna().sum()

price          0
bedrooms       0
bathrooms      0
sqft_living    0
sqft_lot       0
waterfront     0
condition      0
grade          0
yr_built       0
zipcode        0
dtype: int64

In [10]:
x=hp.drop('price',axis=1)
y=hp['price']

In [12]:
from sklearn.model_selection import train_test_split

In [44]:
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=0.3,random_state=42)

In [45]:
from sklearn.linear_model import LinearRegression

In [46]:
model=LinearRegression()

In [47]:
model.fit(train_x,train_y)

LinearRegression()

In [48]:
model.score(test_x,test_y)*100

66.89914226684695

In [49]:
model.score(train_x,train_y)*100

71.35749924725273

In [56]:
from sklearn import linear_model
clf = linear_model.Lasso(alpha=45,tol=0.1)

In [57]:
clf.fit(train_x,train_y)

Lasso(alpha=45, tol=0.1)

In [58]:
clf.score(test_x,test_y)*100

66.92282245731931

L2 regularization

In [60]:
from sklearn.linear_model import Ridge

In [74]:
reg_r=Ridge(alpha=7,tol=0.2)

In [75]:
reg_r.fit(train_x,train_y)

Ridge(alpha=7, tol=0.2)

In [76]:
reg_r.score(test_x,test_y)*100

68.069130991823