<a href="https://colab.research.google.com/github/Mathurshab2210/Ml_with_Mathur/blob/main/Titanic_naive_bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd
data=pd.read_csv('/content/titanic.csv')

In [11]:
data.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [12]:
data.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)

In [13]:
data.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [14]:
target=data['Survived']
inp=data.drop('Survived',axis=1)

In [17]:
inp.replace({'Sex':{'male':1,'female':0}},inplace=True)

In [18]:
inp.isnull().sum()

Pclass      0
Sex         0
Age       177
Fare        0
dtype: int64

In [19]:
inp.isna().any()

Pclass    False
Sex       False
Age        True
Fare      False
dtype: bool

In [24]:
inp.Age=inp.Age.fillna(inp.Age.mean())

In [25]:
inp.head(10)

   Pclass  Sex        Age     Fare
0       3    1  22.000000   7.2500
1       1    0  38.000000  71.2833
2       3    0  26.000000   7.9250
3       1    0  35.000000  53.1000
4       3    1  35.000000   8.0500
5       3    1  29.699118   8.4583
6       1    1  54.000000  51.8625
7       3    1   2.000000  21.0750
8       3    0  27.000000  11.1333
9       2    0  14.000000  30.0708

In [26]:
from sklearn.model_selection import train_test_split

In [115]:
x_train,x_test,y_train,y_test=train_test_split(inp,target,test_size=0.15,stratify=target)

In [116]:
x_train.shape

(757, 4)

In [117]:
from sklearn.naive_bayes import GaussianNB

In [118]:
model= GaussianNB()

In [133]:
model.fit(x_train,y_train)

GaussianNB()

In [134]:
model.score(x_test,y_test)

0.835820895522388

In [135]:
y_test[:10]

323    1
881    0
445    1
231    0
629    0
35     0
754    1
123    1
632    1
612    1
Name: Survived, dtype: int64

In [136]:
model.predict(x_test[:10])

array([1, 0, 1, 0, 0, 0, 1, 1, 0, 1])

In [123]:
from sklearn.linear_model import LogisticRegression

In [124]:
model1=LogisticRegression()

In [125]:
model1.fit(x_train,y_train)

LogisticRegression()

In [126]:
model1.predict(x_test[:10])

array([1, 0, 1, 0, 0, 0, 1, 1, 0, 1])

In [127]:
model1.score(x_test,y_test)

0.7985074626865671

In [128]:
y_test[:10]

323    1
881    0
445    1
231    0
629    0
35     0
754    1
123    1
632    1
612    1
Name: Survived, dtype: int64